
@tailwind base;
@tailwind components;
@tailwind utilities;

body, html, #root {
  margin: 0;
  padding: 0;
}

    .canvas-container {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    }

/* In your global CSS file or a specific CSS module */
.anime-container {
  position: relative;
}

.anime-container .dot {
  position: absolute;
  border-radius: 50%;
  background-color: hsl(60, 100%, 80%);
}

.text-stroke {
  color: transparent;
  -webkit-text-stroke: 2px #000; /* Adjust the stroke width and color as needed */
}

.text-outline {
  position: relative;
  display: inline-block;
}

.text-outline::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  color: black; /* Adjust the stroke color as needed */
  text-shadow: 
    2px 0 0 #000,
    -2px 0 0 #000,
    0 2px 0 #000,
    0 -2px 0 #000,
    1px 1px #000,
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000; /* Adjust the stroke width by changing the offset values */
}
